* {
   margin: 0;
   padding: 0;
}

body {
   background-color: #FAFCFE;
}

kbd {
   border-radius: 5px;
   border: 1px solid #D6E4E5;
   aspect-ratio: 1/1;
   display: flex;
   align-items: center;
   position: relative;
}

kbd:hover {
   box-shadow: inset 0 0 0 5px #D6E4E5;
}



.kbdContainer {
   display: grid;
   grid-template-columns: repeat(7, 1fr) 5fr repeat(7, 1fr);
   grid-template-rows: repeat(5, 1fr) 2fr;
   grid-gap: 2px;
   padding: 50px 25px;
}

.kbdLogo {
   grid-column: 8;
   grid-row: 1/5;
}

.labels {
   text-align: center;
   width: 100%;
}

.moonlanderLogo {
   width: 50%;
   display: block;
   margin: auto;
}

.thumbKeyGridContainer {
   grid-column: 7/10;
   grid-row: 5/7; 
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 10%;
}

.thumbKeyGrid {
   display: grid;
   grid-template-columns: repeat(3 ,1fr);
   grid-template-rows: 1fr 2fr;
}

.leftThumbGrid {
   transform: rotate(30deg);
}

.rightThumbGrid {
   transform: rotate(-30deg);
}

.thumbKey {
   aspect-ratio: unset;
}

.bigRedKey {
   grid-column-end: span 2;
   aspect-ratio: 2/1;
}

.top10 {
   top:-10%;
}

.top20 {
   top: -20%;
}

.top30 {
   top: -30%;
}
